In [19]:
import sqlite3

In [20]:
db = sqlite3.connect('university.db')

In [23]:
cursor = db.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS students(
    id integer PRIMARY KEY,
    name text NOT NULL,
    classb text NOT NULL,
    grade integer);''')

In [25]:
cursor.execute('''INSERT INTO students(id, name, classb, grade) 
VALUES(1, 'Jessie', 'Python', 100)''')

In [26]:
db.commit()

In [27]:
cursor.execute('''INSERT INTO students(id, name, classb, grade) 
VALUES(2, 'Jack', 'Python', 87)''')

cursor.execute('''INSERT INTO students(id, name, classb, grade) 
VALUES(3, 'John', 'Java', 98)''')

In [28]:
db.commit()

In [29]:
cursor.execute('SELECT * FROM students')

In [30]:
print(cursor.fetchall())

[(1, 'Jessie', 'Python', 100), (2, 'Jack', 'Python', 87), (3, 'John', 'Java', 98)]

In [31]:
cursor = db.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS class(
    id integer PRIMARY KEY,
    name text NOT NULL,
    teacher text NOT NULL);''')

In [32]:
cursor.execute('''INSERT INTO class(id, name, teacher) 
VALUES(1, 'Java', 'wjs')''')

In [33]:
cursor.execute('''INSERT INTO class(id, name, teacher) 
VALUES(2, 'Math', 'wangxin')''')

In [34]:
cursor.execute('''INSERT INTO class(id, name, teacher) 
VALUES(3, 'Python', 'liujq')''')

In [35]:
cursor.execute('''INSERT INTO class(id, name, teacher) 
VALUES(4, 'Sports', 'wanghui')''')

In [36]:
db.commit()

In [37]:
cursor.execute('SELECT * FROM class')

In [38]:
print(cursor.fetchall())

[(1, 'Java', 'wjs'), (2, 'Math', 'wangxin'), (3, 'Python', 'liujq'), (4, 'Sports', 'wanghui')]

In [42]:
cursor.execute('SELECT * FROM class')
for x in cursor.fetchall():
    print(x)

(1, 'Java', 'wjs')
(2, 'Math', 'wangxin')
(3, 'Python', 'liujq')
(4, 'Sports', 'wanghui')

In [49]:
cursor.execute("""SELECT students.name, classb, class.teacher 
FROM students 
JOIN class ON students.classb = class.name 
WHERE classb = 'Python'""")

In [50]:
for x in cursor.fetchall():
    print(x)

('Jessie', 'Python', 'liujq')
('Jack', 'Python', 'liujq')

In [52]:
cursor.execute("""SELECT students.name, classb, class.teacher 
FROM students 
LEFT OUTER JOIN class ON students.classb = class.name 
WHERE classb = 'Python'""")

for x in cursor.fetchall():
    print(x)

('Jessie', 'Python', 'liujq')
('Jack', 'Python', 'liujq')