In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [3]:
s

a    0.101024
b    1.581643
c   -0.165932
d    0.840932
e    1.064068
dtype: float64

In [5]:
pd.Series(np.random.randn(5)) #默认index是01234

0    0.178484
1   -1.688571
2   -0.036090
3    0.190892
4    1.631071
dtype: float64

In [6]:
s+s

a    0.202047
b    3.163286
c   -0.331864
d    1.681864
e    2.128136
dtype: float64

In [7]:
s*2

a    0.202047
b    3.163286
c   -0.331864
d    1.681864
e    2.128136
dtype: float64

In [7]:
s[1:]+s[:-1]  #错位

a         NaN
b    1.425411
c   -1.458018
d   -3.770228
e         NaN
dtype: float64

In [8]:
d = {'one' : pd.Series([1.,2.,3.],index=['a','b','c']),
     'two' : pd.Series([1.,2.,3.,4.],index=['a','b','c','d'])}    #建立字典

In [9]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [10]:
df = pd.DataFrame(d)

In [11]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [12]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
df.columns

Index(['one', 'two'], dtype='object')

In [14]:
df.to_csv('BDMI.csv')

In [15]:
df_2 = pd.read_csv('BDMI.csv')

In [16]:
df_2

  Unnamed: 0  one  two
0          a  1.0  1.0
1          b  2.0  2.0
2          c  3.0  3.0
3          d  NaN  4.0

In [17]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [18]:
df.loc['a']

one    1.0
two    1.0
Name: a, dtype: float64

In [20]:
df.iloc[2,0]

3.0

In [21]:
dates = pd.date_range('20201013',periods=6)

In [22]:
dates

DatetimeIndex(['2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
               '2020-10-17', '2020-10-18'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df_data = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [24]:
df_data

                   A         B         C         D
2020-10-13 -1.348718 -0.619312  0.393602  1.302106
2020-10-14  1.072004 -1.343856 -0.676008 -0.618588
2020-10-15 -0.359743  0.408488 -0.712573 -0.981948
2020-10-16  0.180476  0.763568  0.884276  0.113771
2020-10-17  1.002358  1.586446 -0.467269  1.957850
2020-10-18  0.348972  1.083392  1.062611  0.811063

### 想一想练一练

### 在这里添加代码

In [26]:
classmates ={'wangxu' : pd.Series([20192192, 'male'],index=['ID','gender']),
     'zhengyu' : pd.Series([20192342, 'male'],index=['ID','gender'])}    #建立字典

In [27]:
df_classmates = pd.DataFrame(classmates)

In [28]:
df_classmates = df_classmates.T

In [29]:
df_classmates

               ID gender
wangxu   20192192   male
zhengyu  20192342   male

### pandas读取数据库

In [31]:
from sqlalchemy import create_engine

#参数字段 sqlite:///<database path>
engine = create_engine('sqlite:///test.db')

写入数据库

In [32]:
df_classmates.to_sql('tb_test',con=engine)

读取数据库

In [33]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('tb_test', conn)

In [34]:
data

     index          ID gender
0   wangxu  201921****   male
1  zhengyu  201831****   male